/*-----------------Fonts-----------------*/
@font-face {
    font-family: Angkanya;
    src: url(AngkanyaSebelas.ttf);
}

@font-face {
    font-family: Sillene;
    src: url(Sillene.ttf);
}

@font-face {
    font-family: Dalisha;
    src: url(Dalisha.ttf);
}
/*----------------White Strings------------------*/
.WSQ {
    font-family: Dalisha;
}

.frase1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
}

body, html {
    height: 100%;
    background: #dbceb0;
    margin: 0;
    padding: 0;
  }
/*---------------Logos--------------*/
.logo {
    height: 60px;
    width: 120px;
    z-index: 10;
}

.ytlogo {
    height: 35px;
    width: 35px;
    z-index: 10;
    position: absolute;
    top: 12px;
    right: 125px;
}

.fblogo {
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 80px;
}

.inslogo {
    height: 30px;
    width: 40px;
    z-index: 10;
    position: absolute;
    top: 15px;
    right: 50px;
}
/*---------------------------------------*/
.cabecera{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    z-index: 10;
}
/*-----------Area scrolleable-----------*/
a {
    display: inline;
    width: 50px;
    text-decoration: none;
    color: blanchedalmond;
}
nav, scroll-container {
    font-size: 5em;
}
nav {
    position: absolute;
    top: 0px;
    right: 415px;
}
scroll-container {
    display: block;
    height: 537px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
scroll-page {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 537px;
    font-size: 10em;
}
/*-------Imagen de los miembros-------*/
.mainDisplay {
    position: left;
    height: 537px;
    width: 700px;
}
.Display {
    position: inherit;
    height: 537px;
    width:220px;
    left: 0px;
}
/*------Escrito sobre los miembros-----*/
.ecriv {
    height: 537px;
    width: 1146px;
}
h1 {
    font-family: italic;
    font-size: 30px;
}
p {
    font-size: 10px;
}
/*-------------Pie de pagina------------*/
footer {
    background-color: black;
    color: blanchedalmond;
    height: 60px;
}

.foot {
    position: absolute;
    top: 625;
    right: 40px;
    font-size: 18px;
}

.Contact {
    top: 606px;
    right: 150px;
    position: absolute;
    height: 40px;
    width: 40px;
}