* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------ LOGOS -------------------*/
.logo {
    height: 60px;
    width: 120px;
    top: 0px;
}

.ytlogo {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 150px;
}

.fblogo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 12px;
    right: 93px;
}

.inslogo {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 23px;
    right: 52px;
}
/*------------------- NAV --------------------*/
body {
    background: #000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 100px;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
}

.top ul {
    display: flex;
}

.top ul li {
    padding: 5px;
}

.top ul.dots {
    flex: 1;
    margin: 20px;
}

/*------------ SHOWCASE -----------*/
.showcase {
    display: flex;
    align-content: center;
    width: 100%;
    height: 550px;
    padding: 10px;
}

.Display {
    height: 530px;
}

scroll-container {
    display: block;
    height: 550px;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
scroll-page {
    display: flex;
    align-items: center;
    height: 550px;
}

scroll-page p {
    font-size: 12px center center/cover;
    padding: 10px;
}

scroll-page .ecriv h2 {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    font-family: 'Neonderthaw', cursive;
}

.Blogo {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-left: 250px;
}